span {
  display: block;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 20px;
}

.DreamJobJourneyPage {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.DreamJobJourneyPage-experience {
  padding: 20px;
  border-radius: 25px;
  text-align: justify;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr;
  grid-gap: 20px;
  background-color: darkslategrey;
  color: white;
}

.DreamJobJourneyPage {
  color: rgba(56, 2, 2, .5);
}
