span {
  display: block;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 20px;
}

.DreamJobJourneyPage {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.DreamJobJourneyPage-experience {
  padding: 2%;
  border-radius: 5%;
  text-align: justify;
  width: 50%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-gap: 4%;
  background-color: rgb(2, 37, 37);
  /* background-color: darkslategrey; */
  color: rgba(174, 177, 173, 0.4);
}

.DreamJobJourneyPage {
  color: rgba(56, 2, 2, .5);
}
