.DreamJobJourneyPage {
  display: flex;
  height: 20%;
  align-items: center;
  font-size: 1.2em;
  opacity: .8;
}

.DreamJobJourneyPage-experience {
  border-radius: 5%;
  /* text-align: justify; */
  width: 40%;
  /* display: grid; */
  /* grid-template-columns: 2fr 2fr 2fr; */
  grid-gap: .5%;
  background-color: rgb(0, 0, 0);
  /* background-color: darkslategrey; */
  color: rgba(106, 252, 57, 0.9);
  opacity: .9;
}
