/* .ExperiencePage {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
*/

/* .ExperiencePage-experience {
  display: flex;
  padding: 2%;
  border-radius: 15%;
  text-align: center;
  width: 20%;
  background-color: rgba(22, 37, 37, 0.9);
  color: rgba(224, 193, 193, 0.8);
} */

.ExperiencePage-experience {
  display: grid;
  grid-auto-rows: 2vmin; 
  border-radius: 5%;
  text-align: justify;
  width: 28em;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  grid-gap: .05%;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(44, 117, 20);
  opacity: .8; 
}

.parallax {
  /* The image used */
  background-image:url(../../images/logoPetraTrek2TheCity.jpg);

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
