.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* .ExperiencePage-link-margin {
  margin-bottom: 10px;
} */

span {
  display: block;
  flex-flow: row;
  justify-content: center;
  margin-left: 10px;
}

.ExperiencePage {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.ExperiencePage-experience {
  padding: 2%;
  border-radius: 15px;
  text-align: justify;
  width: 30%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10%;
  background-color: rgba(22, 37, 37, 0.9);
  color: rgba(224, 193, 193, 0.8);
}

.ExperiencePage {
  color: rgb(56, 2, 2);
}
