.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* .ExperiencePage-link-margin {
  margin-bottom: 10px;
} */

span {
  display: block;
  flex-flow: row;
  justify-content: center;
  margin-left: 10px;
}

.ExperiencePage {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* main {
  display: inline-block;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  /* background-image:url(../images/katie-smith-uQs1802D0CQ-unsplash.jpg); 
} */

.ExperiencePage-experience {
  display: flex;
  padding: 2%;
  border-radius: 15%;
  text-align: center;
  width: 20%;
  background-color: rgba(22, 37, 37, 0.9);
  color: rgba(224, 193, 193, 0.8);
}

.ExperiencePage {
  color: rgba(56, 2, 2, .1);
}
