.ProfilePagePage {
  /* The image used */
  background-image:url(../../images/logoPetraTrek2TheCity.jpg);

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ProfilePage-experience {
  padding: 20px;
  border-radius: 25px;
  text-align: justify;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr;
  grid-gap: 20px;
  background-color: rgba(22, 37, 37, 0.9);
  color: rgba(224, 193, 193, 0.7);
}

