.selector-for-some-widget {
  box-sizing: content-box;
}

main {
  display: inline-block;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

body {
  color: rgba(4, 13, 41, 0.8);
}

body :hover {
  color: rgb(219, 84, 5);
}

.btn, a{
  color: orangered;

}