.selector-for-some-widget {
  box-sizing: content-box;
}

main {
  display: inline-block;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

body {
  color: rgba(113, 134, 190, 0.8);
}

body :hover {
  color: chartreuse;
}